{% extends 'base.html' %}
{% load static %}

{% block title %}Service{% endblock %}

{% block content %}

  
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dentist-area section-padding-50-0">
   <center><h3 class="lead">Our Services</h3></center>

      </br>
    <div class="container">

      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5><a href="/detail/?location=&department=Dentistry">Dentistry</a></h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5><a href="/detail/?location=&department=Cardiology">Cardiology</a></h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5><a href="/detail/?location=&department=ENT+Specialists">ENT Specialists</a></h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5><a href="/detail/?location=&department=Astrology">Astrology</a></h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5><a href="/detail/?location=&department=Neuroanatomy">Neuroanatomy</a></h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5><a href="//?location=&department=Blood+Screening">Blood Screening</a></h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

          <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5><a href="/detail/?location=&department=Eye+Care">Eye Care</a></h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

          <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/123.jpg' %}" alt="">
            </div>
            <h5><a href="/detail/?location=&department=Physical+Therapy">Physical Therapy</a></h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->

{% endblock %}